<div class="jumbotron bg-light p-5 center mt-4">
  <h1 class="display-3 fw-bolder">Welcome to My Pinterested App</h1>
  <p class="lead">Pretty cool, don't you think?</p>
  <%= link_to "Login",  new_user_session_path, class: "btn btn-primary btn-lg" %>
  <%= link_to "Join", new_user_registration_path, class: "btn btn-secondary btn-lg" %>
</div>
